/* line 5, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../src/scss/layout/_workspace.scss */
#workspace {
  padding: 1rem;
}

/* line 2, ../../src/scss/components/_flashes.scss */
.flashes .flash {
  padding: 1em;
  margin: 1em 0;
}
/* line 6, ../../src/scss/components/_flashes.scss */
.flashes .flash.info {
  border: 2px solid #006700;
  background-color: #e6ffe6;
}
/* line 10, ../../src/scss/components/_flashes.scss */
.flashes .flash.error {
  border: 2px solid #e60000;
  background-color: #ff6666;
}

/* line 2, ../../src/scss/components/_questions.scss */
.question .question-text {
  font-size: 1.2em;
}
/* line 10, ../../src/scss/components/_questions.scss */
.question .options .option .option-text {
  display: inline-block;
}

/* line 2, ../../src/scss/components/_login-register.scss */
#login-form label, #register-form label {
  display: block;
}
/* line 5, ../../src/scss/components/_login-register.scss */
#login-form input[type="submit"], #register-form input[type="submit"] {
  display: block;
}

/* line 6, ../../src/scss/components/_score.scss */
#answers .answer {
  margin: 1em 0 1em 0;
}
/* line 12, ../../src/scss/components/_score.scss */
#answers .answer .answer-chosen.correct {
  color: green;
}
/* line 14, ../../src/scss/components/_score.scss */
#answers .answer .answer-chosen.correct:after {
  content: '\2713';
  float: right;
}
/* line 19, ../../src/scss/components/_score.scss */
#answers .answer .answer-chosen.incorrect {
  color: red;
}
/* line 21, ../../src/scss/components/_score.scss */
#answers .answer .answer-chosen.incorrect:after {
  content: '\2717';
  float: right;
}
/* line 27, ../../src/scss/components/_score.scss */
#answers .answer .answer-actual {
  color: gray;
}

/* line 33, ../../src/scss/components/_score.scss */
#score {
  border-top: 1px solid black;
  margin: 1em 0;
}
/* line 36, ../../src/scss/components/_score.scss */
#score .score {
  float: right;
}
/* line 39, ../../src/scss/components/_score.scss */
#score .percentage {
  font-style: italic;
  display: block;
  clear: both;
  float: right;
}
/* line 41, ../../src/scss/components/_score.scss */
#score .percentage:before {
  content: '(';
}
/* line 42, ../../src/scss/components/_score.scss */
#score .percentage:after {
  content: '%)';
}

/* line 49, ../../src/scss/components/_score.scss */
#submit {
  border-top: 1px solid black;
  margin: 1em 0;
  clear: both;
}
/* line 53, ../../src/scss/components/_score.scss */
#submit input[type="submit"] {
  display: block;
}
