:host {
	border: 0px solid red;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-betweeen;
	align-items: stretch;
	gap: 0.4em;
}
input {
	flex-grow: 1;
}
button {
	tranform: translate(-5em);
	border-width: 0;
	background-color: transparent;
	color: #777;
	&>svg {
		width: 1.4em;
	}
	&.show {
		svg#eye-off { display: none; }
		svg#eye { display: block; }
	}
	&:not(.show) {
		svg#eye-off { display: block; }
		svg#eye { display: none; }
	}
}